body,
html {
    
    left: 0%;
    top: 0%;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 50vw;
    position: absolute;
    font-family: 'Open Sans';

    @media only screen and (max-width: 600px) and (min-width: 0px) {
        position: absolute;
        width: auto;
        height: 100vh;
        left: 0;
        top: 0;
        margin: auto;
        padding: 0;
        overflow-x: hidden;
        -webkit-overflow-scrolling-x: none;
        overscroll-behavior-x: none;
    }
}

.light {
    font-weight: 300;
}

.regular {
    font-weight: 400;
}

.semibold {
    font-weight: 600;
}

.page-container {
    background-color: #fff;
    width: 100vw;
    height: auto;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;

    @media only screen and (max-width: 600px) and (min-width: 0px) {
        width: 100%;
    }
}

body::-webkit-scrollbar {
    display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.nav-container {
        user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
    width: 100vw;
    text-align: center;
    position: fixed;
    z-index: 1030;
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgb(0 0 0 / 0.2);

    @media only screen and (max-width: 600px) and (min-width: 0px) {
        width: 100%;
    }

    a {
        color: #575757;
        opacity: 0.77;
        font-weight: 700;
    }
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0em 18em 0em 20em;

    @media only screen and (max-width: 600px) and (min-width: 0px) {
        // display: inline-block;
        padding: 0em 0em 0em 0em;
    }

    .logo {
        position: relative;
        top: 0;
        left: 0;
        height: auto;
        width: 70px;
        padding: 1em 0em;
        transition: 300ms;

        @media only screen and (max-width: 600px) and (min-width: 0px) {

            padding: 0.5em 2em;

            img {
                // position: relative;
                height: auto;
                width: 80px;
                // left: 0%;
                // top: 0%;
            }
        }
    }

    nav {
        
        position: relative;
        float: right;
        margin-left: auto;
        margin-right: 2px;

        @media only screen and (max-width: 600px) and (min-width: 0px) {
            display: none;
        }
    }

    ul {
        display: flex;
        font-size: 18px;
        padding: 1.8em 0em 0em 0em;

        @media only screen and (max-width: 600px) and (min-width: 0px) {
            font-size: 16px;
            display: none;
        }
    }

    .ul-Home,
    .ul-Skills,
    .ul-About,
    .ul-Portfolio,
    .ul-Contact {
        cursor:context-menu;
        transition-duration: 150ms;
        display: block;
        padding: 0em 1.4em;
        @media only screen and (max-width: 600px) and (min-width: 0px) {
            display: none;
        }
    }

    .ul-Home:hover,
    .ul-Skills:hover,
    .ul-About:hover,
    .ul-Portfolio:hover,
    .ul-Contact:hover {
        opacity: 1;
        transform: scale(1.1);
        transform-origin: 50% 50%;
        color: #2BD1E2;
        text-underline-offset: 0.4em;
    }

    .ul-Home:active,
    .ul-Skills:active,
    .ul-About:active,
    .ul-Portfolio:active,
    .ul-Contact:active {
        color: #2BD1E2;
        opacity: 1;
        transform: scale(1.1);
        text-decoration: underline;
    }
}

.logo:hover {
    transform: scale(1.1);
}

// ------------------------------------------------ problem
// ------------------------------------------------ problem
// ------------------------------------------------ problem
// ------------------------------------------------ problem
// ------------------------------------------------ problem
// ------------------------------------------------ problem
// ------------------------------------------------ problem
// ------------------------------------------------ problem
// ------------------------------------------------ problem
// ------------------------------------------------ problem
// ------------------------------------------------ problem
// ------------------------------------------------ problem
// ------------------------------------------------ problem
// ------------------------------------------------ problem
// ------------------------------------------------ problem
// ------------------------------------------------ problem
// ------------------------------------------------ problem
// ------------------------------------------------ problem
// ------------------------------------------------ problem
.social-header {
    @media screen and (max-width:1320px) and (min-width: 0px) {
        display: none;
        opacity: 0.0;
    }

    display: flex;
    list-style-type: none;
}

.facebook-icon,
.instagram-icon {
    pointer-events: none;
    opacity: 0.2;
}

.facebook-icon,
.instagram-icon,
.linkedin-icon {
    width: 45px;
    height: auto;
    padding: 1.5em 0.5em 0em 0em;

    transition: 150ms linear;
}

.linkedin-icon {
    opacity: 0.8;
}

.facebook-icon:hover,
.instagram-icon:hover,
.linkedin-icon:hover {
    opacity: 1;
    transform: scale(1.1);
    transform-origin: 50% 50%;
}

.Home {
    text-align: center;
    background-image: url('/images/head_3d_transparent.png'), linear-gradient(0.5turn, #C0D9F8, #C0D9F8, #E0EFFA);
    background-position: bottom 10px left 0px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 11em 0em 8em 0em;
    border-top-left-radius: 0% 0%;
    border-top-right-radius: 0% 0%;
    border-bottom-right-radius: 15% 15%;
    border-bottom-left-radius: 15% 15%;

    @media only screen and (max-width: 600px) and (min-width: 0px) {
        background-position: bottom 0px left 0px;
        background-repeat: no-repeat;
        background-image: linear-gradient(0.5turn, #C0D9F8, #C0D9F8, #E0EFFA);
        background-size: cover;
        padding: 2em 0em 0em 2em;
        border-radius: 0%;
    }
}

.content {
    color: #1C2731;
}

.title {
    text-align: left;
    margin: 0;
    font-size: 64px;
    line-height: 1;

    @media only screen and (max-width: 600px) and (min-width: 0px) {
        font-size: 38px;
        width: 55%;
    }
}

.title-line {
    background-color: #1C2731;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 70px;
    animation: TextLineLoop 1450ms infinite linear;

    @media only screen and (max-width: 600px) and (min-width: 0px) {
        // width: 2px;
        // height: 35px;
        display: none !important;
        animation: none;
    }
}

@keyframes TextLineLoop {
    0% {
        opacity: 0.0;
    }

    50% {
        opacity: 0.0;
    }

    51% {
        opacity: 1.0;
    }

    100% {
        opacity: 1.0;
    }
}

.title-line,
.title {
    display: inline-block;
}

.meet {
    text-align: left;
    font-size: 20px;
    letter-spacing: 0.7px;
    width: 600px;

    @media only screen and (max-width: 600px) and (min-width: 0px) {
        font-size: 14px;
        width: 75%;

    }
}

.buttons-container {
    text-align: left;
    justify-content: space-between;
    padding: 2em 0em 10em 0em;

    @media only screen and (max-width: 600px) and (min-width: 0px) {
        padding: 0em 0em 5em 0em;

    }
}

.cta-home {
    cursor: pointer;
    margin: 0em 1em 0em 0em;
    width: 230px;
    height: 64px;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    border-radius: 36px;
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.3);
    transition: transform 150ms linear;

    @media only screen and (max-width: 600px) and (min-width: 0px) {
        border-radius: 36px;
        margin: 1em 0em 0em 0em;
        width: 152px;
        height: 48px;
        font-size: 14px;
    }
}

.cta-home:hover {
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
    transform-origin: 50% 50%;
}

#button-color-one {
    background-color: #F0F3F6;
    color: #1c273188;
}

#button-color-two {
    background-color: #2986FF;
}

.content,
.image-top {
    display: inline-block;
    text-align: center;
    margin: auto;

}

.content {
    text-align: left;
    padding: 10em 0em 0em 0em;
    margin-left: auto;
    left: 0;
    top: 0;
    position: relative;
}

.image-top {
    width: 340px;
    height: 340px;

    @media only screen and (max-width: 600px) and (min-width: 0px) {
        display: none;
    }
}

#copyHeader {
    text-decoration: underline 2px #2986FF;
    text-underline-offset: 0.8em;
    padding: 0em 0em 1em 0em;
}

#copyHeader-seven {
    padding: 0em 0em 0em 0em;
    font-size: 16px;
    margin-block-end: -1em;
}

#copyHeader-seven-sec {
    text-decoration: underline 2px #2986FF;
    text-underline-offset: 0.8em;
    padding: 0em 0em 1em 0em;
    font-size: 16px;
}

.featured {
    text-align: center;
}

// ------------------------------------------------ Skills
// ------------------------------------------------ Skills
// ------------------------------------------------ Skills
// ------------------------------------------------ Skills
// ------------------------------------------------ Skills
// ------------------------------------------------ Skills
// ------------------------------------------------ Skills
// ------------------------------------------------ Skills
// ------------------------------------------------ Skills
// ------------------------------------------------ Skills
// ------------------------------------------------ Skills
// ------------------------------------------------ Skills
// ------------------------------------------------ Skills
// ------------------------------------------------ Skills
.Skills {
    background-color: #fff;
    padding: 6em 0em 10em 0em;

    img {
        width: 44px;
        height: 44px;
    }
}

.title-2 {
    h1 {
        letter-spacing: -1px;
        color: #2986FF;
        font: bold 42px Open Sans;
        line-height: 1px;

        @media only screen and (max-width: 600px) and (min-width: 0px) {
            font: bold 32px Open Sans;
            width: 55%;
            letter-spacing: 0px;
            position: relative;
            padding: 0em 0em;
            margin: auto;
            top: 0;
            left: 0;
            text-align: center;

        }
    }
}

.skills-descryption {
    position: relative;
    padding: 0em 0em;
    margin: auto;
    top: 0;
    left: 0;
    line-height: 2px;
    color: #3D3D3D;
    font: normal 18px Open Sans;
    width: 35%;

    @media only screen and (max-width: 600px) and (min-width: 0px) {
        top: 0;
        left: 0;
        width: 70%;
        font: normal 14px Open Sans;
    }
}

.skills-container {
    display: inline-flex;
    padding: 6em 0em 0em 0em;

    @media only screen and (max-width: 600px) and (min-width: 0px) {
        display: grid;
        justify-content: center;
        padding: 3em 0em 0em 0em;
    }

    li {
        list-style-type: none;
    }
}

// ---------------------------------------CONTAINER
// ---------------------------------------CONTAINER
// ---------------------------------------CONTAINER
// ---------------------------------------CONTAINER
// ---------------------------------------CONTAINER
// ---------------------------------------CONTAINER
// ---------------------------------------CONTAINER
// ---------------------------------------CONTAINER
.skills-container-two {
    display: inline-flex;
    padding: 0em 0em 0em 0em;

    @media only screen and (max-width: 600px) and (min-width: 0px) {

        display: grid;
        justify-content: center;
    }

    li {
        list-style-type: none;
    }
}

.Skill-one-descryption,
.Skill-three-descryption,
.Skill-six-descryption {
    font-size: 15px;
    opacity: 0.33;
}

.Skill-two-descryption,
.Skill-four-descryption,
.Skill-five-descryption,
.Skill-seven-descryption,
.Skill-eight-descryption {
    font-size: 14px;
    opacity: 0.33;
}

.Skill-one-descryption,
.Skill-three-descryption,
.Skill-six-descryption {
    padding: 0em 0em 2em 0em;
}

.Skill-two-descryption,
.Skill-five-descryption {
    padding: 0em 0em 0em 0em;
}

.Skill-four-descryption,
.Skill-eight-descryption,
.Skill-seven-descryption {
    padding: 0em 0em 1em 0em;
}

.Skill-one,
.Skill-two,
.Skill-three,
.Skill-four,
.Skill-five,
.Skill-six,
.Skill-seven,
.Skill-eight {
    padding: 2em 0em 2em 0em;
    margin: 0em 1em 1em 0em;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 240px;
    height: 240px;
    box-shadow: 0px 3px 30px #6186FF3D;
    border: 2px solid #7070702c;
    border-radius: 10px;
    opacity: 0.33;
    transition: 220ms linear;
}

.button-skill-read-more {
    cursor: pointer;
    border: none;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    transition: transform 350ms linear;
    background-color: transparent;
}

.Skill-one:hover,
.Skill-two:hover,
.Skill-three:hover,
.Skill-four:hover,
.Skill-five:hover,
.Skill-six:hover,
.Skill-seven:hover,
.Skill-eight:hover {
    border: 2px solid #5C66E9;
    border-radius: 15px;
    opacity: 1.0;
    transform: scale(1.025);
    transform-origin: 50% 50%;

    .Skill-one-descryption,
    .Skill-two-descryption,
    .Skill-three-descryption,
    .Skill-four-descryption,
    .Skill-five-descryption,
    .Skill-six-descryption,
    .Skill-seven-descryption,
    .Skill-eight-descryption {
        opacity: 0.77;
    }

    .button-skill-read-more {
        transform: scale(1.1);
        transform-origin: 50% 50%;
        border: none;
        color: #2986FF;
        background-color: transparent;
    }

    #copyHeader {
        color: #2986FF;
    }
}

//---------------------about me---------------------
//---------------------about me---------------------
//---------------------about me---------------------
//---------------------about me---------------------
//---------------------about me---------------------
//---------------------about me---------------------
//---------------------about me---------------------
.about-me {
    text-align: center;
    list-style-type: none;
    padding: 10em 0em 20em 0em;
    width: 100vw;
    background-color: #F1F5FF;

    @media only screen and (max-width: 600px) and (min-width: 0px) {
        padding: 5em 0em 8em 0em;
        width: 100%;
    }

    p {
        text-align: left;

    }
}

.about-me-copy-container,
.about-me-photos {
    display: inline-block;
}

.about-me-photos {
    width: 20%;
    text-align: left;
    right: 0;
    top: 0;
    margin: auto;

    @media only screen and (max-width: 600px) and (min-width: 0px) {
        display: none;
    }
}

.about-me-copy-container {
    width: 30%;

    @media only screen and (max-width: 600px) and (min-width: 0px) {
        width: 80%;
    }

    #Title-about-us {
        position: relative;
        top: 0;
        left: 0;
        margin: auto;
        width: 600px;
        font-size: 42px;
        font-weight: 100;
        line-height: 40px;

        @media only screen and (max-width: 600px) and (min-width: 0px) {
            font-size: 32px;
        }
    }

    #Copy-about-us {
        position: relative;
        top: 20px;
        left: 0;
        margin: auto;
        width: 600px;
        font-size: 18px;

        @media only screen and (max-width: 600px) and (min-width: 0px) {
            font-size: 14px;
            // width:60%;
        }
    }
}

#gif-person-one,
#stat-person-one,
#gif-person-two,
#stat-person-two,
#gif-person-three,
#stat-person-three,
#gif-person-four,
#stat-person-four {
    img {
        position: absolute;
        width: 260px;
        height: 260px;
    }
}

.person-one {
    padding: 0em 0em 0em 20em;
}

.person-two {
    padding: 4em 10em 0em 0em;
}

.person-three {
    padding: 14em 0em 0em 20em;
}

.person-four {
    padding: 4em 10em 0em 0em;
}

.imageOneGif {
    opacity: 0;
}

.imageTwoGif {
    opacity: 0;
}

.imageThreeGif {
    opacity: 0;
}

.imageFourGif {
    opacity: 0;
}

.imageOne:hover {
    opacity: 0;
}

.imageOneGif:hover {
    opacity: 1;
}

.imageTwo:hover {
    opacity: 0;
}

.imageTwoGif:hover {
    opacity: 1;
}

.imageThree:hover {
    opacity: 0;
}

.imageThreeGif:hover {
    opacity: 1;
}

.imageFour:hover {
    opacity: 0;
}

.imageFourGif:hover {
    opacity: 1;
}

//-------------------------------PORTFOLIO SHOWCASE
//-------------------------------PORTFOLIO SHOWCASE
//-------------------------------PORTFOLIO SHOWCASE
//-------------------------------PORTFOLIO SHOWCASE
//-------------------------------PORTFOLIO SHOWCASE
//-------------------------------PORTFOLIO SHOWCASE
//-------------------------------PORTFOLIO SHOWCASE
//-------------------------------PORTFOLIO SHOWCASE
//-------------------------------PORTFOLIO SHOWCASE
.Portfolio-showcase {
    background-color: #fff;
    padding: 18em 0em 18em 0em;
    text-align: center;
    width: 100%;

    @media only screen and (max-width: 600px) and (min-width: 0px) {
        padding: 5em 0em 8em 0em;
        // width:45vw;
        // margin: auto;
        left: 0;
        top: 0;
        position: relative;
    }

}

.portfolio-header-container {
    font-size: 42px;
    font-weight: bold;
    color: #3D3D3D;

    @media only screen and (max-width: 600px) and (min-width: 0px) {
        position: relative;
        font-size: 32px;
        width: 80%;
        top: 0;
        left: 0;
        margin: auto;
        text-align: left;
        line-height: 32px;
    }

}

.portfolio-copy-container {
    font-size: 18px;
    color: #3D3D3D;
    padding: 0em 0em 4em 0em;
    font-size: 16px;
    width: 600px;
    top: 0;
    left: 0;
    margin: auto;

    @media only screen and (max-width: 600px) and (min-width: 0px) {
        font-size: 16px;
        width: 80%;
        top: 0;
        left: 0;
        margin: auto;
        padding: 1em 0em 4em 0em;
        text-align: left;
    }
}

.portfolio-carousel-container {
    margin: auto;
    transition: 600ms;
    text-align: center;

    @media only screen and (max-width: 600px) and (min-width: 0px) {
        position: relative;
        top: 0;
        left: 0;
        margin: auto;
        width: 80%;
    }
}

.Slider-Arrow-right,
.Slider-Arrow-left {
    transition: 400ms;
    border: none;
    // width: 300px;
    background-color: #fff;
    font-size: 78px;
    font-weight: 100;

}

.Slider-Arrow-left,
.Slider-Arrow-right,
.slider-portfolio-images-container {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    margin: auto;
    text-align: center;

}

.slider-portfolio-images-container {
    width: 768px;
    height: 432px;
    position: relative;
    top: 0;
    left: 0;
}

.Slider-Arrow-left,
.Slider-Arrow-right {
    width: 80px;
    height: auto;
    // height: 432px;
    position: relative;
    top: 0;
    left: 0;
    color: #3D3D3D;
    // padding: 0em 1em;
}

.Slider-Arrow-right:hover,
.Slider-Arrow-left:hover {
    font-size: 82px;

}


//.Slider-Arrow-right,.Slider-Arrow-left,.Slider-Portfolio,
.portfolio-carousel-container {
    display: inline-block;
    margin: auto;
    width: auto;
    text-align: center;
    // width: 840px;

    @media only screen and (max-width: 600px) and (min-width: 0px) {
        width: 100%;

    }
}

.portfolio-block-first,
.portfolio-block-second,
.portfolio-block-third,
.portfolio-block-fourth,
.portfolio-block-fifth,
.portfolio-block-sixth {
    align-items: center;
    display: none;
    // display: inline-block;
    margin: auto;
    width: 768px;
    height: 432px;

    @media only screen and (max-width: 600px) and (min-width: 0px) {

        width: 219.42px;
        height: 123.42px;

    }
}

.Slider-Portfolio {
    transition: 600ms;
    display: none;
}

.portfolio-block-first {
    display: block;
}

// .portfolio-block-first,
// .portfolio-block-second,
// .portfolio-block-third,
// .portfolio-block-fourth {
//     align-items: center;
//     display: inline-block;
//     margin: auto;
// }

// .portfolio-block-first {
//     width: 548px;
//     height: 451px;
//     border-radius: 20px;
//     background: #2986FF 0% 0% no-repeat padding-box;
//     box-shadow: 12px 12px 30px #00000029;
// }

// .portfolio-block-second,
// .portfolio-block-third,
// .portfolio-block-fourth {
//     background: #2986FF 0% 0% no-repeat padding-box;
//     box-shadow: 12px 12px 30px #00000029;
//     border-radius: 20px;
//     width: 218px;
//     height: 304px;
//     transition: 150ms linear;
// }

// .portfolio-block-first:active,
// .portfolio-block-second:active,
// .portfolio-block-third:active,
// .portfolio-block-fourth:active {
//     box-shadow: 12px 12px 30px #00000029;
//     border-radius: 20px;
//     width: 548px;
//     height: 451px;
// }

//----------------------CONTACT----------------------
//----------------------CONTACT----------------------
//----------------------CONTACT----------------------
//----------------------CONTACT----------------------
//----------------------CONTACT----------------------
//----------------------CONTACT----------------------
//----------------------CONTACT----------------------
//----------------------CONTACT----------------------
.Contact-section {
    text-align: center;
    background-color: #2986FF;
    padding: 20em 0em 20em 0em;

    @media only screen and (max-width: 600px) and (min-width: 0px) {
        padding: 2em 0em 2em 0em;
        width: 100%;

    }

    p {
        display: block;
    }
}

.image-contact {
    image {
        width: 720px;
        height: 400px;
    }

    transform: scale(1.3);

    @media only screen and (max-width: 600px) and (min-width: 0px) {
        transform: none;
        text-align: left;

        img {
            position: relative;
            width: 288px;
            height: 160px;
            top: 0;
            left: 0;
        }
    }
}

.image-contact,
.copy-contact {
    display: inline-block;

    @media only screen and (max-width: 600px) and (min-width: 0px) {
        display: block;
        margin: auto;
        width: 100%;
        left: 0;
        top: 0;
        position: relative;
        text-align: center;
    }

}

.copy-contact {
    @media only screen and (max-width: 600px) and (min-width: 0px) {
        text-align: center;
        position: relative;
        margin: auto;
        width: 100%;
        height: auto;
        left: 0;
        top: 0;
    }
}

.header-contact-class {
    p {
        line-height: 0px;
        font-weight: bold;
        color: #fff;
    }

}

.first-paragraph {
    font-size: 80px;
    text-align: left;

    @media only screen and (max-width: 600px) and (min-width: 0px) {
        font-size: 32px;
        text-align: center;
    }
}

.second-paragraph {
    font-size: 142px;
    text-align: left;

    @media only screen and (max-width: 600px) and (min-width: 0px) {
        font-size: 52px;
        text-align: center;
    }
}

.contact-copy {
    color: #fff;
    font-size: 22px;
    font-weight: 100;
    text-align: left;

    @media only screen and (max-width: 600px) and (min-width: 0px) {
        font-size: 14px;
        text-align: center;
    }
}

//------------------Lets talks------------------
//------------------Lets talks------------------
//------------------Lets talks------------------
//------------------Lets talks------------------
//------------------Lets talks------------------
//------------------Lets talks------------------
//------------------Lets talks------------------
//------------------Lets talks------------------
//------------------Lets talks------------------
.Lets-talk-sec {
    text-align: center;
    padding: 20em 0em 16em 0em;
    background-image: url('/images/contact/contact-transparent.png'), linear-gradient(0.5turn, #FAFAFC, #F1F0F7, #ffffff);
    background-position: bottom 0px left 0px;
    background-repeat: no-repeat;
    background-size: cover;

    @media only screen and (max-width: 600px) and (min-width: 0px) {
        padding: 18em 0em 4em 0em;
        background-position: bottom 0px left 0px;
        background-size: 768px 432px;
    }

    .Header-talk {
        font-size: 42px;
        font-weight: bold;
        color: #3D3D3D;
        line-height: 0px;

        @media only screen and (max-width: 600px) and (min-width: 0px) {
            font-size: 32px;

        }
    }

    .talk-copy {
        margin: auto;
        font-size: 16px;
        width: 18%;

        @media only screen and (max-width: 600px) and (min-width: 0px) {
            font-size: 14px;
            width: 80%;
        }
    }
}

.Header-talk,
.talk-copy,
#button-contact-via-mail {
    bottom: 200px;
    left: 0px;
    position: relative;
}

#button-contact-via-mail {
    font-weight: 600;
    cursor: pointer;
    margin: 2em 0em 0em 0em;
    width: 220px;
    height: 71px;
    border: none;
    background-color: #2986FF;
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 36px;
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.3);
    transition: transform 150ms linear;

    @media only screen and (max-width: 600px) and (min-width: 0px) {
        margin: 2em 0em 0em 0em;
        font-size: 14px;
        width: 172px;
        height: 48px;
    }
}

#button-contact-via-mail:hover {
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
    transform-origin: 50% 50%;
    background-color: #2986FF;
}