@font-face {
  font-family: "Open Sans";
  src: url(/font/OpenSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(/font/OpenSans-Bold.ttf);
  font-weight: Bold;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(/font/OpenSans-Medium.ttf);
  font-weight: Medium;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(/font//OpenSans-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
body,
html {
  left: 0%;
  top: 0%;
  margin: auto;
  padding: 0;
  width: 1920px;
  height: auto;
  position: absolute;
  font-family: "Open Sans";
}

.reveal {
  transition: 800ms;
  opacity: 0;
  transform: translate(0px, 620px);
}

.reveal.active {
  opacity: 1;
  transform: translate(0px);
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.semibold {
  font-weight: 600;
}

#pageContainerId {
  overflow: hidden;
}

.page-container {
  background-color: #fff;
  width: 100vw;
  height: auto;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
  .page-container {
    display: none;
  }
}

body::-webkit-scrollbar {
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.nav-container {
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  width: 100vw;
  text-align: center;
  position: fixed;
  z-index: 1030;
  background: #1F2C5E;
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
  .nav-container {
    width: 100%;
  }
}
.nav-container a {
  color: #fff;
  font-weight: 700;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0em 18em 0em 20em;
}
@media only screen and (max-width: 1400px) and (min-width: 600px) {
  header {
    padding: 0em 10em 0em 10em;
  }
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
  header {
    padding: 0em 0em 0em 0em;
  }
}
header .logo {
  position: relative;
  top: 0;
  left: 0;
  height: auto;
  width: 70px;
  padding: 1em 0em;
  transition: 300ms;
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
  header .logo {
    padding: 0.5em 2em;
  }
  header .logo img {
    height: auto;
    width: 80px;
  }
}
header nav {
  position: relative;
  float: right;
  margin-left: 40px;
  margin-right: auto;
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
  header nav {
    display: none;
  }
}
header ul {
  display: flex;
  font-size: 18px;
  padding: 1.8em 0em 0em 0em;
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
  header ul {
    font-size: 16px;
    display: none;
  }
}
header .ul-Home,
header .ul-Skills,
header .ul-About,
header .ul-Portfolio,
header .ul-Contact {
  cursor: context-menu;
  transition-duration: 150ms;
  display: block;
  padding: 0em 1.4em;
  opacity: 1;
  color: #fff;
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
  header .ul-Home,
header .ul-Skills,
header .ul-About,
header .ul-Portfolio,
header .ul-Contact {
    display: none;
  }
}
header .ul-Home:hover,
header .ul-Skills:hover,
header .ul-About:hover,
header .ul-Portfolio:hover,
header .ul-Contact:hover {
  opacity: 1;
  transform: scale(1.1);
  transform-origin: 50% 50%;
  text-underline-offset: 0.4em;
}
header .ul-Home:active::before {
  transform: scale(10);
}
header .ul-Home:active,
header .ul-Skills:active,
header .ul-About:active,
header .ul-Portfolio:active,
header .ul-Contact:active {
  opacity: 1;
  transform: scale(1.2);
  text-decoration: underline;
}

.logo:hover {
  transform: scale(1.1);
}

.social-header {
  display: flex;
  list-style-type: none;
}
@media screen and (max-width: 1320px) and (min-width: 0px) {
  .social-header {
    display: none;
    opacity: 0;
  }
}

.facebook-icon,
.instagram-icon {
  pointer-events: none;
  opacity: 0.2;
}

.facebook-icon,
.instagram-icon,
.linkedin-icon {
  width: 45px;
  height: auto;
  padding: 1.5em 0.5em 0em 0em;
  transition: 150ms linear;
}

.linkedin-icon {
  opacity: 0.8;
}

.facebook-icon:hover,
.instagram-icon:hover,
.linkedin-icon:hover {
  opacity: 1;
  transform: scale(1.1);
  transform-origin: 50% 50%;
}

.backgroundDisplayNone {
  opacity: 0;
  position: absolute;
}

.BackLoaderimageZero {
  background-image: url("/images/Home/HomeImage-0.png"), url("/images/Home/HomeImage-1.png"), url("/images/Home/HomeImage-2.png"), url("/images/Home/HomeImage-3.png"), url("/images/Home/HomeImage-4.png"), url("/images/Home/HomeImage-5.png"), url("/images/Home/HomeImage-6.png"), url("/images/Home/HomeImage-7.png"), url("/images/Home/HomeImage-8.png"), url("/images/Home/HomeImage-9.png"), url("/images/Home/HomeImage-10.png"), url("/images/Home/HomeImage-11.png"), url("/images/Home/HomeImage-12.png"), url("/images/Home/HomeImage-13.png"), url("/images/Home/HomeImage-14.png"), url("/images/Home/HomeImage-15.png"), url("/images/Home/HomeImage-16.png"), url("/images/Home/HomeImage-17.png"), url("/images/Home/HomeImage-18.png"), url("/images/Home/HomeImage-19.png"), url("/images/Home/HomeImage-20.png"), url("/images/Home/HomeImage-21.png"), url("/images/Home/HomeImage-22.png"), url("/images/Home/HomeImage-23.png"), url("/images/Home/HomeImage-24.png"), url("/images/Home/HomeImage-25.png"), url("/images/Home/HomeImage-26.png"), url("/images/Home/HomeImage-27.png"), url("/images/Home/HomeImage-28.png"), url("/images/Home/HomeImage-29.png"), url("/images/Home/HomeImage-30.png"), url("/images/Home/HomeImage-31.png"), url("/images/Home/HomeImage-32.png"), url("/images/Home/HomeImage-33.png"), url("/images/Home/HomeImage-34.png"), url("/images/Home/HomeImage-35.png"), url("/images/Home/HomeImage-36.png"), url("/images/Home/HomeImage-37.png"), url("/images/Home/HomeImage-38.png"), url("/images/Home/HomeImage-39.png"), url("/images/Home/HomeImage-40.png"), url("/images/Home/HomeImage-41.png"), url("/images/Home/HomeImage-42.png"), url("/images/Home/HomeImage-43.png"), url("/images/Home/HomeImage-44.png"), url("/images/Home/HomeImage-45.png"), url("/images/Home/HomeImage-46.png"), url("/images/Home/HomeImage-47.png"), url("/images/Home/HomeImage-48.png"), url("/images/Home/HomeImage-49.png"), url("/images/Home/HomeImage-50.png");
}

.BackLoaderimageOne {
  background-image: url("/images/contact/contactSequence/frame_1.png"), url("/images/contact/contactSequence/frame_2.png"), url("/images/contact/contactSequence/frame_3.png"), url("/images/contact/contactSequence/frame_4.png"), url("/images/contact/contactSequence/frame_5.png"), url("/images/contact/contactSequence/frame_6.png"), url("/images/contact/contactSequence/frame_7.png"), url("/images/contact/contactSequence/frame_8.png"), url("/images/contact/contactSequence/frame_9.png"), url("/images/contact/contactSequence/frame_10.png"), url("/images/contact/contactSequence/frame_11.png"), url("/images/contact/contactSequence/frame_12.png"), url("/images/contact/contactSequence/frame_13.png"), url("/images/contact/contactSequence/frame_14.png"), url("/images/contact/contactSequence/frame_15.png"), url("/images/contact/contactSequence/frame_16.png"), url("/images/contact/contactSequence/frame_17.png"), url("/images/contact/contactSequence/frame_18.png"), url("/images/contact/contactSequence/frame_19.png"), url("/images/contact/contactSequence/frame_20.png"), url("/images/contact/contactSequence/frame_21.png"), url("/images/contact/contactSequence/frame_22.png"), url("/images/contact/contactSequence/frame_23.png"), url("/images/contact/contactSequence/frame_24.png"), url("/images/contact/contactSequence/frame_25.png"), url("/images/contact/contactSequence/frame_26.png"), url("/images/contact/contactSequence/frame_27.png"), url("/images/contact/contactSequence/frame_28.png"), url("/images/contact/contactSequence/frame_29.png"), url("/images/contact/contactSequence/frame_30.png"), url("/images/contact/contactSequence/frame_31.png"), url("/images/contact/contactSequence/frame_32.png"), url("/images/contact/contactSequence/frame_33.png"), url("/images/contact/contactSequence/frame_34.png"), url("/images/contact/contactSequence/frame_35.png"), url("/images/contact/contactSequence/frame_36.png"), url("/images/contact/contactSequence/frame_37.png"), url("/images/contact/contactSequence/frame_38.png"), url("/images/contact/contactSequence/frame_39.png"), url("/images/contact/contactSequence/frame_40.png"), url("/images/contact/contactSequence/frame_41.png");
}

.Home {
  text-align: center;
  background-image: url(/images/Home/HomeImage-1.png), linear-gradient(0.5turn, #C0D9F8, #C0D9F8, #E0EFFA);
  background-position: top 0px right 0px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 11em 0em 8em 0em;
}
@media only screen and (max-width: 1400px) and (min-width: 600px) {
  .Home {
    padding: 11em 0em 8em 0em;
    background-position: bottom center;
  }
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
  .Home {
    background-position: bottom 0px left 0px;
    background-repeat: no-repeat;
    background-image: linear-gradient(90turn, #172047, #172047, #1F2C5E);
    background-size: cover;
    padding: 2em 0em 0em 2em;
    border-radius: 0%;
  }
}

#HeaderVideo {
  z-index: -111;
  position: absolute;
  right: 0px;
  margin: auto;
  top: 0px;
  min-width: 100%;
  min-height: 100%;
}

.content {
  color: #fff;
}

.title {
  text-align: left;
  margin: 0;
  font-size: 64px;
  line-height: 1;
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
  .title {
    font-size: 38px;
    width: 55%;
  }
}

.title-line {
  background-color: #fff;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 70px;
  -webkit-animation: TextLineLoop 1450ms infinite linear;
          animation: TextLineLoop 1450ms infinite linear;
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
  .title-line {
    display: none !important;
    -webkit-animation: none;
            animation: none;
  }
}

@-webkit-keyframes TextLineLoop {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes TextLineLoop {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.title-line,
.title {
  display: inline-block;
}

.meet {
  text-align: left;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.7px;
  width: 600px;
  font-weight: 600;
  opacity: 0.6;
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
  .meet {
    font-size: 14px;
    width: 75%;
  }
}

.buttons-container {
  text-align: left;
  justify-content: space-between;
  padding: 1em 0em 10em 0em;
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
  .buttons-container {
    padding: 0em 0em 5em 0em;
  }
}

.cta-home {
  cursor: pointer;
  margin: 0em 1em 0em 0em;
  width: 180px;
  height: 64px;
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
  transition: transform 150ms linear;
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
  .cta-home {
    border-radius: 10px;
    margin: 1em 0em 0em 0em;
    width: 152px;
    height: 48px;
    font-size: 14px;
  }
}

.cta-home:hover {
  transform: scale(1.1);
  transform-origin: 50% 50%;
}

#button-color-one {
  border: none;
  background-color: #2986FF;
}

#button-color-two {
  padding: 0;
  border: none;
  background: none;
  color: #2BD1E2;
  width: 348px;
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
}

.content,
.image-top {
  display: inline-block;
  text-align: center;
  margin: auto;
}

.content {
  text-align: left;
  padding: 9em 0em 0em 0em;
  margin-left: auto;
  left: 0;
  top: 0;
  position: relative;
}
@media only screen and (max-width: 1400px) and (min-width: 600px) {
  .content {
    padding: 16em 0em 0em 9em;
  }
}

.image-top {
  width: 300px;
  height: 340px;
  pointer-events: none;
  cursor: none;
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
  .image-top {
    display: none;
  }
}

#copyHeader {
  padding: 1.5em 0em 0em 0em;
}

#copyHeader-seven {
  padding: 0em 0em 0em 0em;
  font-size: 14px;
  -webkit-margin-after: -1em;
          margin-block-end: -1em;
}

#copyHeader-seven-sec {
  padding: 0em 0em 1em 0em;
  font-size: 14px;
}

.featured {
  text-align: center;
}

.Skills {
  background-color: transparent;
  padding: 6em 0em 10em 0em;
  z-index: 1;
  position: relative;
  bottom: 200px;
  left: 0px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 8% 8%;
  border-top-right-radius: 8% 8%;
  border-bottom-right-radius: 0% 0%;
  border-bottom-left-radius: 0% 0%;
}
.Skills img {
  width: 44px;
  height: 44px;
}

.ImageToDisplayBlockSkillsCopy {
  position: relative;
  top: 180px;
  right: 100px;
  margin: auto;
  text-align: left;
}
.ImageToDisplayBlockSkillsCopy img {
  width: 700px;
  height: auto;
}

.skillsCopyContainer {
  width: 500px;
  height: auto;
}

.skillsCopyContainer,
.ImageToDisplayBlockSkillsCopy {
  display: inline-block;
  margin: auto;
  text-align: center;
}

.title-2 {
  text-align: center;
  position: relative;
  padding: 0em 0em;
  margin: auto;
  top: 0px;
  right: 0px;
}
.title-2 h1 {
  color: #232323;
  font-size: 42px;
  font-weight: bold;
  text-align: left;
  line-height: 44px;
}

.skills-descryption {
  text-align: left;
  position: relative;
  padding: 0em 0em;
  margin: auto;
  top: 0;
  left: 0;
  line-height: 22px;
  color: #3D3D3D;
  font-size: 16px;
}

.skills-container {
  display: inline-flex;
  padding: 0em 0em 0em 0em;
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
  .skills-container {
    display: grid;
    justify-content: center;
    padding: 3em 0em 0em 0em;
  }
}
.skills-container li {
  list-style-type: none;
}

.skills-container-two {
  display: inline-flex;
  padding: 1em 0em 0em 0em;
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
  .skills-container-two {
    display: grid;
    justify-content: center;
  }
}
.skills-container-two li {
  list-style-type: none;
}

.Skill-one-descryption,
.Skill-three-descryption,
.Skill-six-descryption {
  font-size: 12px;
  opacity: 0.33;
}

.Skill-two-descryption,
.Skill-four-descryption,
.Skill-five-descryption,
.Skill-seven-descryption,
.Skill-eight-descryption {
  font-size: 12px;
  opacity: 0.33;
}

.Skill-one-descryption,
.Skill-three-descryption {
  padding: 0em 0em 2em 0em;
}

.Skill-five-descryption {
  padding: 0em 0em 0em 0em;
}

.Skill-two-descryption {
  padding: 0em 0em 0.5em 0em;
}

.Skill-four-descryption,
.Skill-eight-descryption,
.Skill-seven-descryption,
.Skill-six-descryption {
  padding: 0em 0em 1em 0em;
}

.SkillFlipVariable {
  transform: rotateY(180deg) !important;
  opacity: 0 !important;
  color: #fff !important;
}

.SkillOneFlipContainerDarkAndWhite,
.SkillTwoFlipContainerDarkAndWhite,
.SkillThreeFlipContainerDarkAndWhite,
.SkillFourFlipContainerDarkAndWhite,
.SkillFiveFlipContainerDarkAndWhite,
.SkillSixFlipContainerDarkAndWhite,
.SkillSevenFlipContainerDarkAndWhite,
.SkillEightFlipContainerDarkAndWhite {
  position: relative;
  padding: 2em 0em 2em 0em;
  margin: 0em 1em 1em 0em;
  width: 240px;
  height: 240px;
}

.Skill-one,
.Skill-two,
.Skill-three,
.Skill-four,
.Skill-five,
.Skill-six,
.Skill-seven,
.Skill-eight {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 2.5em 0em 2em 0em;
  margin: 0em 1em 1em 0em;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: 240px;
  height: 240px;
  box-shadow: 0px 3px 30px rgba(97, 134, 255, 0.2392156863);
  border: 2px solid rgba(112, 112, 112, 0.1725490196);
  border-radius: 5px;
  opacity: 1;
  transition: 220ms linear;
  background-color: #fff;
}

.SkillOneDARK,
.SkillTwoDARK,
.SkillThreeDARK,
.SkillFourDARK,
.SkillFiveDARK,
.SkillSixDARK,
.SkillSevenDARK,
.SkillEightDARK {
  transform: rotateY(180deg);
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 2em 0em 2em 0em;
  margin: 0em 1em 1em 0em;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  width: 240px;
  height: 257px;
  box-shadow: inset 2px 2px 20px #F1F5FF;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: 220ms linear;
  background-color: #fff;
}

#copyHeaderDark {
  color: #1C2731;
  text-underline-offset: 0.8em;
  padding: 0em 0em 1em 0em;
  opacity: 0.75;
}

.Skill-one-descryption-Dark,
.Skill-two-descryption-Dark,
.Skill-three-descryption-Dark,
.Skill-four-descryption-Dark,
.Skill-five-descryption-Dark,
.Skill-six-descryption-Dark,
.Skill-seven-descryption-Dark,
.Skill-eight-descryption-Dark {
  padding: 0em 0em 2em 0em;
  font-size: 12px;
  font-weight: 700;
  opacity: 0.7;
  color: #1C2731;
}

.button-skill-read-more {
  cursor: pointer;
  border: none;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  transition: transform 350ms linear;
  background-color: transparent;
  color: #2986FF;
}

.Skill-one:hover,
.Skill-two:hover,
.Skill-three:hover,
.Skill-four:hover,
.Skill-five:hover,
.Skill-six:hover,
.Skill-seven:hover,
.Skill-eight:hover {
  border: 2px solid #5C66E9;
  border-radius: 5px;
  opacity: 1;
  transform: scale(1.025);
  transform-origin: 50% 50%;
}
.Skill-one:hover .Skill-one-descryption,
.Skill-one:hover .Skill-two-descryption,
.Skill-one:hover .Skill-three-descryption,
.Skill-one:hover .Skill-four-descryption,
.Skill-one:hover .Skill-five-descryption,
.Skill-one:hover .Skill-six-descryption,
.Skill-one:hover .Skill-seven-descryption,
.Skill-one:hover .Skill-eight-descryption,
.Skill-two:hover .Skill-one-descryption,
.Skill-two:hover .Skill-two-descryption,
.Skill-two:hover .Skill-three-descryption,
.Skill-two:hover .Skill-four-descryption,
.Skill-two:hover .Skill-five-descryption,
.Skill-two:hover .Skill-six-descryption,
.Skill-two:hover .Skill-seven-descryption,
.Skill-two:hover .Skill-eight-descryption,
.Skill-three:hover .Skill-one-descryption,
.Skill-three:hover .Skill-two-descryption,
.Skill-three:hover .Skill-three-descryption,
.Skill-three:hover .Skill-four-descryption,
.Skill-three:hover .Skill-five-descryption,
.Skill-three:hover .Skill-six-descryption,
.Skill-three:hover .Skill-seven-descryption,
.Skill-three:hover .Skill-eight-descryption,
.Skill-four:hover .Skill-one-descryption,
.Skill-four:hover .Skill-two-descryption,
.Skill-four:hover .Skill-three-descryption,
.Skill-four:hover .Skill-four-descryption,
.Skill-four:hover .Skill-five-descryption,
.Skill-four:hover .Skill-six-descryption,
.Skill-four:hover .Skill-seven-descryption,
.Skill-four:hover .Skill-eight-descryption,
.Skill-five:hover .Skill-one-descryption,
.Skill-five:hover .Skill-two-descryption,
.Skill-five:hover .Skill-three-descryption,
.Skill-five:hover .Skill-four-descryption,
.Skill-five:hover .Skill-five-descryption,
.Skill-five:hover .Skill-six-descryption,
.Skill-five:hover .Skill-seven-descryption,
.Skill-five:hover .Skill-eight-descryption,
.Skill-six:hover .Skill-one-descryption,
.Skill-six:hover .Skill-two-descryption,
.Skill-six:hover .Skill-three-descryption,
.Skill-six:hover .Skill-four-descryption,
.Skill-six:hover .Skill-five-descryption,
.Skill-six:hover .Skill-six-descryption,
.Skill-six:hover .Skill-seven-descryption,
.Skill-six:hover .Skill-eight-descryption,
.Skill-seven:hover .Skill-one-descryption,
.Skill-seven:hover .Skill-two-descryption,
.Skill-seven:hover .Skill-three-descryption,
.Skill-seven:hover .Skill-four-descryption,
.Skill-seven:hover .Skill-five-descryption,
.Skill-seven:hover .Skill-six-descryption,
.Skill-seven:hover .Skill-seven-descryption,
.Skill-seven:hover .Skill-eight-descryption,
.Skill-eight:hover .Skill-one-descryption,
.Skill-eight:hover .Skill-two-descryption,
.Skill-eight:hover .Skill-three-descryption,
.Skill-eight:hover .Skill-four-descryption,
.Skill-eight:hover .Skill-five-descryption,
.Skill-eight:hover .Skill-six-descryption,
.Skill-eight:hover .Skill-seven-descryption,
.Skill-eight:hover .Skill-eight-descryption {
  opacity: 0.77;
}
.Skill-one:hover .button-skill-read-more,
.Skill-two:hover .button-skill-read-more,
.Skill-three:hover .button-skill-read-more,
.Skill-four:hover .button-skill-read-more,
.Skill-five:hover .button-skill-read-more,
.Skill-six:hover .button-skill-read-more,
.Skill-seven:hover .button-skill-read-more,
.Skill-eight:hover .button-skill-read-more {
  transform: scale(1.1);
  transform-origin: 50% 50%;
  border: none;
  color: #2986FF;
  background-color: transparent;
}
.Skill-one:hover #copyHeader,
.Skill-two:hover #copyHeader,
.Skill-three:hover #copyHeader,
.Skill-four:hover #copyHeader,
.Skill-five:hover #copyHeader,
.Skill-six:hover #copyHeader,
.Skill-seven:hover #copyHeader,
.Skill-eight:hover #copyHeader {
  color: #2986FF;
}

.about-me {
  text-align: center;
  list-style-type: none;
  padding: 20em 0em 22em 0em;
  width: auto;
  background-color: #F1F5FF;
  border-top-left-radius: 15% 15%;
  border-top-right-radius: 15% 0%;
  border-bottom-right-radius: 15% 15%;
  border-bottom-left-radius: 15% 0%;
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
  .about-me {
    padding: 5em 0em 8em 0em;
    width: 100%;
  }
}
.about-me p {
  text-align: left;
}

.about-me-copy-container,
.about-me-photos {
  display: inline-block;
  width: auto;
  top: 0;
  left: 0;
  position: relative;
  margin: auto;
}

.person-one {
  padding: 20em 0em 0em 40em;
  display: inline-block;
}

.person-two {
  padding: 0em 0em 0em 0em;
  display: inline-block;
}

.about-me-photos {
  width: 600px;
  text-align: left;
  right: 0;
  top: 0px;
  margin: auto;
  display: inline-block;
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
  .about-me-photos {
    display: none;
  }
}

.about-me-copy-container {
  width: auto;
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
  .about-me-copy-container {
    width: 80%;
  }
}
.about-me-copy-container #Title-about-us {
  position: relative;
  top: 0;
  left: 0;
  margin: auto;
  width: 450px;
  font-size: 42px;
  font-weight: bold;
  line-height: 40px;
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
  .about-me-copy-container #Title-about-us {
    font-size: 32px;
  }
}
.about-me-copy-container #Copy-about-us {
  position: relative;
  top: 20px;
  left: 0;
  margin: auto;
  width: 450px;
  font-size: 16px;
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
  .about-me-copy-container #Copy-about-us {
    font-size: 14px;
  }
}

.person-one {
  position: relative;
  top: 0;
  right: 0;
}
.person-one #InsidePersonAbsoluteOne {
  background-size: cover;
  background-repeat: no-repeat;
  width: 504.5px;
  height: 464px;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("/images/about-me/AboutMe.png");
}
@media only screen and (max-width: 1400px) and (min-width: 600px) {
  .person-one #InsidePersonAbsoluteOne {
    top: 0;
    right: 50px;
  }
}

.person-two {
  position: relative;
  top: 0;
  right: 0;
}
.person-two #InsidePersonAbsoluteTwo {
  background-size: cover;
  background-repeat: no-repeat;
  width: 320px;
  height: 320px;
  position: absolute;
  top: 0;
  right: 495px;
  background-image: url("/images/about-me/AboutMe3D.png");
}
@media only screen and (max-width: 1400px) and (min-width: 600px) {
  .person-two #InsidePersonAbsoluteTwo {
    top: 0;
    right: 295px;
  }
}

.person-three {
  position: relative;
  top: 0;
  right: 0;
}
.person-three #InsidePersonAbsoluteThree {
  background-size: cover;
  background-repeat: no-repeat;
  width: 280px;
  height: 280px;
  position: absolute;
  bottom: 90px;
  left: 495px;
  background-image: url("/images/about-me/AboutMe3D-2.png");
}
@media only screen and (max-width: 1400px) and (min-width: 600px) {
  .person-three #InsidePersonAbsoluteThree {
    bottom: 90px;
    left: 455px;
  }
}

.Portfolio-showcase {
  background-color: #fff;
  padding: 18em 0em 8em 0em;
  text-align: center;
  width: 100%;
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
  .Portfolio-showcase {
    padding: 5em 0em 8em 0em;
    left: 0;
    top: 0;
    position: relative;
  }
}

.portfolio-header-container {
  font-size: 42px;
  font-weight: bold;
  color: #3D3D3D;
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
  .portfolio-header-container {
    position: relative;
    font-size: 32px;
    width: 80%;
    top: 0;
    left: 0;
    margin: auto;
    text-align: left;
    line-height: 32px;
  }
}

.portfolio-copy-container {
  color: #3D3D3D;
  padding: 0em 0em 4em 0em;
  font-size: 16px;
  line-height: 32px;
  width: 600px;
  top: 0;
  left: 0;
  margin: auto;
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
  .portfolio-copy-container {
    font-size: 16px;
    width: 80%;
    top: 0;
    left: 0;
    margin: auto;
    padding: 1em 0em 4em 0em;
    text-align: left;
  }
}

.portfolio-carousel-container {
  margin: auto;
  transition: 600ms;
  text-align: center;
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
  .portfolio-carousel-container {
    position: relative;
    top: 0;
    left: 0;
    margin: auto;
    width: 80%;
  }
}

.Slider-Arrow-right,
.Slider-Arrow-left {
  transition: 400ms;
  border: none;
  background-color: #fff;
  font-size: 78px;
  font-weight: 100;
}

.Slider-Arrow-left,
.Slider-Arrow-right,
.slider-portfolio-images-container {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

.slider-portfolio-images-container {
  width: 768px;
  height: 432px;
  position: relative;
  top: 0;
  left: 0;
}

.Slider-Arrow-left,
.Slider-Arrow-right {
  width: 80px;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
  color: #3D3D3D;
}

.Slider-Arrow-right:hover,
.Slider-Arrow-left:hover {
  font-size: 82px;
}

.portfolio-carousel-container {
  display: inline-block;
  margin: auto;
  width: auto;
  text-align: center;
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
  .portfolio-carousel-container {
    width: 100%;
  }
}

.portfolio-block-first,
.portfolio-block-second,
.portfolio-block-third,
.portfolio-block-fourth,
.portfolio-block-fifth {
  align-items: center;
  display: none;
  margin: auto;
  width: 768px;
  height: 432px;
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
  .portfolio-block-first,
.portfolio-block-second,
.portfolio-block-third,
.portfolio-block-fourth,
.portfolio-block-fifth {
    width: 219.42px;
    height: 123.42px;
  }
}

.Slider-Portfolio {
  transition: 600ms;
  display: none;
}

.portfolio-block-first {
  display: block;
}

.Contact-section {
  text-align: center;
  background-color: #2986FF;
  padding: 20em 0em 20em 0em;
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
  .Contact-section {
    padding: 2em 0em 2em 0em;
    width: 100%;
  }
}
.Contact-section p {
  display: block;
}

.image-contact {
  transform: scale(1.3);
}
.image-contact image {
  width: 720px;
  height: 400px;
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
  .image-contact {
    transform: none;
    text-align: left;
  }
  .image-contact img {
    position: relative;
    width: 288px;
    height: 160px;
    top: 0;
    left: 0;
  }
}

.image-contact,
.copy-contact {
  display: inline-block;
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
  .image-contact,
.copy-contact {
    display: block;
    margin: auto;
    width: 100%;
    left: 0;
    top: 0;
    position: relative;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) and (min-width: 0px) {
  .copy-contact {
    text-align: center;
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
  }
}

.header-contact-class p {
  margin: auto;
  font-weight: bold;
  color: #fff;
}

.first-paragraph {
  font-size: 80px;
  text-align: left;
  line-height: 122px;
  width: 420px;
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
  .first-paragraph {
    font-size: 32px;
    text-align: center;
  }
}

.contact-copy {
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  text-align: left;
  width: 420px;
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
  .contact-copy {
    font-size: 14px;
    text-align: center;
  }
}

.firstSpanClass {
  transition: 800ms;
  opacity: 0.5;
  font-weight: bold;
}

.secondSpanClass {
  transition: 800ms;
}

.contact-copy:hover .secondSpanClass {
  opacity: 0.1;
}
.contact-copy:hover .firstSpanClass {
  opacity: 1 !important;
}

.Lets-talk-sec {
  text-align: center;
  padding: 30em 0em 0em 0em;
  background-image: url("/images/contact/contactSequence/frame_1.png"), linear-gradient(0.5turn, #FAFAFC, #F1F0F7, #ffffff);
  background-position: bottom 0px left 0px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: auto;
  height: 600px;
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
  .Lets-talk-sec {
    padding: 18em 0em 4em 0em;
    background-position: bottom 0px left 0px;
    background-size: 768px 432px;
  }
}
.Lets-talk-sec .Header-talk {
  font-size: 42px;
  font-weight: bold;
  color: #3D3D3D;
  line-height: 0px;
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
  .Lets-talk-sec .Header-talk {
    font-size: 32px;
  }
}
.Lets-talk-sec .talk-copy {
  margin: auto;
  font-size: 16px;
  width: 360px;
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
  .Lets-talk-sec .talk-copy {
    font-size: 14px;
    width: 80%;
  }
}

.Header-talk,
.talk-copy,
#button-contact-via-mail {
  bottom: 200px;
  left: 0px;
  position: relative;
}

#button-contact-via-mail {
  font-weight: 600;
  cursor: pointer;
  margin: 2em 0em 0em 0em;
  width: 180px;
  height: 64px;
  border: none;
  background-color: #2986FF;
  color: white;
  text-align: center;
  font-size: 14px;
  border-radius: 10px;
  box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.3);
  transition: transform 150ms linear;
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
  #button-contact-via-mail {
    margin: 2em 0em 0em 0em;
    font-size: 14px;
    width: 172px;
    height: 48px;
  }
}

#button-contact-via-mail:hover {
  box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.4);
  transform: scale(1.1);
  transform-origin: 50% 50%;
  background-color: #2986FF;
}

#preloader {
  overflow: hidden;
  background: #1F2C5E;
  text-align: center;
  background-image: url(/images/loader/Preloader.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 10000;
}
#preloader #copyPreloaderMobile {
  position: relative;
  top: 11%;
  left: 0;
  margin: auto;
  color: #fff;
  font-weight: bold;
  font-size: 42px;
  width: 50vw;
  height: 100vh;
  text-align: center;
  opacity: 0;
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
  #preloader {
    display: block !important;
    background-position: center bottom !important;
  }
  #preloader #copyPreloaderMobile {
    opacity: 1;
    display: block;
  }
}/*# sourceMappingURL=main.css.map */